<div>
  <%= link_to 'Download logs', url_for(controller: 'logs', action: 'download') %>
</div>

<h2>WebSocket Test</h2>


<a href="javascript:initLogger()">Run WebSocket</a><br>
<div id="log_console" class="messages">
</div>

