<% content_for :script do %>

  $(document).ready(function(){
    refreshHealthStats();
});

//  setInterval(function(){
  //  refreshDatabaseStats();}, 30000);

<% end %>

<div class="row">

  <div class="panel panel-default dashboard-panel">

    <div class="panel-heading">
      <div style="display:inline">Health</div>
    </div>

    <div class="panel-body" style="padding: 0px 10px 5px 10px">
      <div class="row">
        <div class="col-xs-8">
          Services Up
        </div>
        <div class="col-xs-4" id="health_service_count"></div>
      </div>

<!--      <div class="row">
        <div class="col-xs-8">
          Last Submission
        </div>
        <div class="col-xs-4" id="health_last_submission"></div>
      </div>

      <div class="row">
        <div class="col-xs-8">
          Last Collection
        </div>
        <div class="col-xs-4" id="health_last_collection"></div>
      </div>
-->
      <div class="row">
        <div class="col-xs-8">
          Metrics Queued
        </div>
        <div class="col-xs-4" id="health_queued_metrics"></div>
      </div>

      <div class="row">
        <div class="col-xs-8">
          Database Size
        </div>
        <div class="col-xs-4" id="health_database_size">
        </div>
      </div>

    </div>
  </div>

</div>
