
<%= fields_for ntp do |f| %>

<div id="ntpConfig">
  <%= field_set_tag 'NTP Configuration' do %>
  <div class="form-group">
    <%= f.label :host, class: 'control-label' %>
    <%= f.text_field :host, class: 'form-control', placeholder: "Leave blank to use meter's default NTP host" %>
  </div>
  <% end %>
</div>

<% end %>
