<span id="ellipsisTemplate"
      <% if ( defined?(visible) and (visible == true) ) %>
      class='loadingEllipsis'
      <% else %>
      style="display:none"
      <% end %>  >
  <span>.</span>
  <span>.</span>
  <span>.</span>
</span>

