<%# This is used in serveral places where a user triggers a reboot %>
<div id="rebootingModal" class="modal fade" role="dialog"
     data-keyboard="false" data-backdrop="static" >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Rebooting</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width:100%">Please wait while the appliance reboots</div>
        </div>
      </div>
    </div>
  </div>
</div>
