<% content_for :script do %>

  $(document).ready(function(){
    $('form.edit_meter_configuration_document').submit(function(e){
      e.preventDefault();

      $('body').addClass('busy');
      $.ajax({ type: $(this).attr('method'),
               data: $(this).serialize(),
               url: $(this).attr('action')
             })
            .success(function(){ location.reload(); })
            .error(function(response) { console.log(response);})
            .always(function() {
               $('body').removeClass('busy');})
   });});

<% end %>


<%= form_for meter_config do |f| %>
    <table class="col-xs-10 table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      <tbody>
        <% meter_config.user_visible_fields.each do |name| %>
        <tr>
          <td><%= name %></td>
          <td>
            <% if meter_config.user_editable_field?(name) %>
              <%= f.text_field name %>
            <% else %>
              <%= meter_config[name] %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <button id="advanced_submit" class="btn btn-success pull-right" type="submit">Update</button>

<% end %>
